#itemInterfaceHeading, #locationDisplayHeading, #bidsDisplayHeading, #numberOfBidsText {
	margin-bottom: 5px;
	font-family: 'Lobster', cursive;
	user-select: none;
}

#bidsDisplayHeading {
	margin-bottom: -14px;
}

tr:hover {
	cursor: default;
	background-color: black;
	color: white;
}

div#categoryDisplay, div#bidsDisplay {
	margin-top: 5px;
}

#numberOfBidsReplace {
	display: inline-block;
}

#numberOfBidsText {
	margin-top: 0px;
	margin-bottom: 0px;
}

.bid {
	width: 68vw;
    border: 1px solid #dddddd;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -1px;
    height: 11vh;
    padding: 0px;
    text-align: left;
    user-select: none;
    cursor: default;
}

.bidAmount {
	display: inline-block;
    height: 100%;
    margin-top: -2px;
    text-align: center;
    top: -10px;
    position: relative;
    width: 15%;
}

.bidUserIDRating {
	display: inline-block;
    height: 100%;
    text-align: center;
    width: 15%;
}

.bidUserID {
	height: 50%;
    top: 4px;
    position: relative;
}

.bidRating {
    height: 50%;
    top: 4px;
    position: relative;
}

.bidTime {
    display: inline-block;
    font-size: smaller;
    text-align: center;
    vertical-align: middle;
    margin-bottom: auto;
    margin-top: auto;
    position: relative;
    top: -12px;
    width: 35%;
    left: 10px;
}

.bidLocCountry {
	display: inline-block;
    height: 100%;
    text-align: center;
    width: 35%;
}

.bidLocation {
    height: 50%;
    top: 4px;
    position: relative;
}

.bidCountry {
    height: 50%;
    top: 4px;
    position: relative;
}

#bidsTableHeadingRow {
	height: 4vh;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bold;
}

#bidsAmountColumn {
	width: 15%;
	height: 100%;
    display: inline-block;
    text-align: center;
}

#bidsUserIDRatingColumn {
	width: 15%;
	height: 100%;
    display: inline-block;
    text-align: center;
}

#bidsTimeColumn {
	width: 35%;
	height: 100%;
    display: inline-block;
    text-align: center;
}

#bidsLocationCountryColumn {
	width: 35%;
	height: 100%;
    display: inline-block;
    text-align: center;
}

#topBid {
	background-color: black;
	color: white;
	cursor: pointer;
}

#topBidSchema {
	background-color: black;
    color: #dddddd;
    width: 11%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    margin-top: -16px;
    margin-bottom: 2px;
	font-family: 'Nunito Sans', sans-serif;
    border: 1px solid #dddddd;
    display: none;
}